<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iadev.mobileilsin"
    android:versionCode="3"
    android:versionName="0.1beta2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification" android:parentActivityName="@string/title_activity_home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iadev.mobileilsin.Home" />
        </activity>
        <activity
            android:name=".Launchmenu"
            android:label="@string/title_activity_launchmenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iadev.mobileilsin.Home" />
        </activity>
        <activity
            android:name=".Schoolinfo"
            android:label="@string/title_activity_schoolinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iadev.mobileilsin.Home" />
        </activity>
        <activity
            android:name=".Appinfo"
            android:label="@string/title_activity_appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iadev.mobileilsin.Home" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iadev.mobileilsin.Home" />
        </activity>
        <activity
            android:name=".License"
            android:label="@string/title_activity_license" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iadev.mobileilsin.Appinfo" />
        </activity>
    </application>

</manifest>